[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
speechrecognition = "*"
psycopg2-binary = "*"
gtts = "*"
python-dotenv = "*"
wikipedia = "*"
pyaudio = "*"
pyttsx3 = "*"
django = "*"
django-crispy-forms = "*"
django-cors-headers = "*"
requests = "*"
gunicorn = "*"
beautifulsoup4 = "*"
nltk = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
